/* app.component.css */

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Lățimea sidebar-ului pe desktop */
  transition: margin-left 0.3s ease-in-out;
}

/* Ajustare pentru vizualizarea mobilă */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0; /* Nu are margine pe mobil */
    padding-left: 50px; /* Compensează pentru butonul burger */
  }

  .main-content.sidebar-open-mobile {
    padding-left: 270px; /* Compensează când sidebar-ul este deschis pe mobil */
  }
}
