<div class="specialisti-page">
  <h1 class="page-title text-center">Specialiști</h1>

  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
    color="primary"
    class="spinner"
  ></mat-progress-spinner>

  <div *ngIf="errorMsg && !isLoading" class="alert alert-danger text-center">
    {{ errorMsg }}
    <button mat-button color="warn" (click)="load()">Reîncearcă</button>
  </div>

  <div *ngIf="!isLoading && !errorMsg">
    <mat-card
      *ngFor="let s of specialisti; let i = index"
      class="spec-card"
    >
      <!-- HEADER SPECIALIST-->
      <mat-card-header class="spec-header">
        <mat-card-title class="spec-name">{{ s.nume }}</mat-card-title>
        <mat-card-subtitle class="spec-desc">{{ s.descriere }}</mat-card-subtitle>
      </mat-card-header>


      <mat-card-actions align="end" class="spec-actions">
        <button
          mat-stroked-button
          color="primary"
          (click)="toggle(s.id)"
        >
          {{ isExpanded(s.id) ? 'Ascunde servicii' : 'Vezi servicii' }}
        </button>
      </mat-card-actions>

      <!-- lista serv -->
      <mat-card-content
        *ngIf="isExpanded(s.id)"
        class="servicii-wrap"
      >
        <mat-card
          *ngFor="let srv of s.servicii"
          class="srv-card"
        >
          <mat-card-header class="srv-header">
            <mat-card-title>{{ srv.titlu }}</mat-card-title>
            <mat-card-subtitle>{{ srv.tipServiciu }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Pret:</strong> {{ srv.pret | number:'1.2-2' }} lei</p>
            <p><strong>Durata rezolvare:</strong> {{ srv.durataRezolvare }} ore</p>
            <p><strong>Durata ședință:</strong> {{ srv.durataSedinta }} ore</p>
            <p><strong>Max caractere:</strong> {{ srv.numarMaxCaractere }}</p>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button color="accent">Cumpără</button>
          </mat-card-actions>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
