<div class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>Achiziționează serviciul</h2>
  </div>

  <mat-dialog-content class="dialog-content">
    <div class="info-line">
      <strong>Serviciu:</strong> {{ data.serviciu.titlu }}
    </div>
    <div class="info-line">
      <strong>Specialist:</strong> {{ data.specialist.nume }}
    </div>

    <form [formGroup]="form" class="mt-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descriere solicitare</mat-label>
        <textarea matInput formControlName="mesaj" rows="4"></textarea>
      </mat-form-field>

      <div class="file-upload-wrapper">

        <input type="file" id="pdfUpload" accept=".pdf" (change)="onFisierSelectat($event)" #fileInput hidden/>

        <button mat-stroked-button type="button" class="upload-btn" (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
          Atașează fișier
        </button>

        <span *ngIf="fisierSelectat" class="file-name">{{ fisierSelectat.name }}</span>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="inchide()">Anulează</button>
    <button mat-raised-button class="submit-btn" (click)="trimiteComanda()">Trimite</button>
  </mat-dialog-actions>
</div>
