html, body {
  background-image: url('/assets/img/fundal_portocaliu_deschis.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  overflow-y: auto;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



