
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 40vh;
  max-width: 600px;
  max-height: 600px;

  background: url('/assets/img/fundal_portocaliu_deschis.png') no-repeat center center;
  background-size: cover;
  border: 6px solid #005F00;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.message-container {
  width: 65%;
  margin-bottom: 2rem;
}


.message {
  font-weight: bold;
  font-size: 1.4rem;
  color: #005F00;
  text-align: center;
  word-wrap: break-word;
}


.close-btn {
  background: #006400;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 0.9;
}
