<div class="container mt-4" *ngIf="paginaCurenta.length">
  <div class="row">
    <div
      class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3"
      *ngFor="let spec of paginaCurenta"
    >
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-success">{{ spec.denumire }}</h5>
          <div class="mt-auto">
            <button class="btn btn-outline-primary btn-sm me-2">
              Vezi Specialiști
            </button>
            <button class="btn btn-outline-secondary btn-sm">
              Vezi Servicii
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NAV PAGINARE -->
  <nav *ngIf="totalPagini > 1">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pagina === 1">
        <a class="page-link" (click)="changePage(pagina - 1)">Anterior</a>
      </li>
      <li
        class="page-item"
        *ngFor="let p of pagini"
        [class.active]="p === pagina"
      >
        <a class="page-link" (click)="changePage(p)">{{ p }}</a>
      </li>
      <li class="page-item" [class.disabled]="pagina === totalPagini">
        <a class="page-link" (click)="changePage(pagina + 1)">Următor</a>
      </li>
    </ul>
  </nav>
</div>
